---
import Layout from "@/layouts/Layout.astro";
import Button from "@/components/Button.jsx";
---

<Layout title="URL ShortQuick">
  <main class="mb-14">
    <p class="text-5xl text-white font-bold text-center p-10">
      Enhance Your Link Management
    </p>
    <p class="text-xl text-white text-center max-w-2xl mx-auto">
      ShortQuick is a powerful tool for creating, managing, and sharing
      shortened links effortlessly. It's fast, secure, and simple to use.
    </p>

    <br /><br />

    <Button id="" value="Shorten Link" />
  </main>
</Layout>
