---
import Layout from "@/layouts/Layout.astro";
import ShortURL from "@/components/ShortURL.astro";
import Button from "@/components/Button.jsx";

const res = await fetch("http://localhost:3001/api/shortURL", {
  method: "GET",
  headers: {
    "content-type": "application/json",
  },
});
const data = await res.json();
const links = data["body"];

//const baseURL = Astro.request.headers.get("referer");
const baseURL = "/";
---

<Layout title="URL ShortQuick">
  <main class="mb-14">
    <p class="text-5xl text-white font-bold text-center p-10">
      Enhance Your Link Management
    </p>
    <p class="text-xl text-white text-center max-w-2xl mx-auto">
      ShortQuick is a powerful tool for creating, managing, and sharing
      shortened links effortlessly. It's fast, secure, and simple to use.
    </p>

    <Button value="temporarily create" />

    <br />
    <div class="max-w-2xl mx-auto flex justify-center mb-4">
      <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">
        Short URL List
      </h5>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 px-3">
      {
        links.map((link) => (
          <ShortURL
            url={link.url}
            short={baseURL + link.short}
            description={link.description}
          />
        ))
      }
    </div>
  </main>
</Layout>
