---
import Layout from "@/layouts/Layout.astro";
import FormCreateLinkShort from "@/components/FormCreateLinkShort.jsx";
---

<Layout title="Create Link">
  <section>
    <FormCreateLinkShort client:load />
  </section>
</Layout>
