---
import Layout from "@/layouts/Layout.astro";
import FormCreateLinkShort from "@/components/FormCreateLinkShort.jsx";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
---

<Layout title="Create Link">
  <section>
    <FormCreateLinkShort client:load email={session?.user.email} />
  </section>
</Layout>
