---
import Layout from "@/layouts/Layout.astro";
import ShortURL from "@/components/ShortURL.astro";

import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
let links;
if (session) {
  const email = session.user.email;
  const res = await fetch(`http://localhost:3001/api/shortURL/${email}`, {
    method: "GET",
    headers: {
      "content-type": "application/json",
    },
  });
  const data = await res.json();
  links = data["body"];
}

//const baseURL = Astro.request.headers.get("referer");
const baseURL = "/";
---

<Layout title="Shorten Link">
  <section>
    <div class="max-w-2xl mx-auto flex justify-center p-10">
      <h2
        class="text-3xl font-bold text-center mb-5 text-gray-900 dark:text-white"
      >
        Short Link List
      </h2>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 px-3">
      {
        links
          ? links.map((link) => (
              <ShortURL
                url={link.url}
                short={baseURL + link.short}
                description={link.description}
              />
            ))
          : null
      }
    </div>
  </section>
</Layout>
