<div
  class="max-w-2xl mx-auto p-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-900 dark:border-gray-700"
>
  <a
    href="#"
    class="inline-flex font-medium items-center text-blue-600 hover:underline"
  >
    bit.ly/4aIc9RD
  </a>
  <a href="#">
    <h5 class="font-semibold tracking-tight text-gray-900 dark:text-white">
      http://www.linkedin.com/in/gilberto-varela-sanchez-566746134
    </h5>
  </a>
  <p class="font-normal text-gray-500 dark:text-gray-400">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum harum eum
    sit eveniet accusantium saepe quibusdam deserunt possimus! Architecto,
    mollitia hic harum ex facilis ipsum fugiat perferendis dolor velit
    similique.
  </p>
</div>
